<footer>
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer++about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nostrum hic qui
        ipsa tempora laboriosam totam
        vel excepturi veniam, porro sequi dolorum, reiciendis quam! Veniam, reprehenderit. Nam ipsam consequuntur ex.
      </p>
    </section>
    <address>
      <h2 class="footer__title">
        Contato
      </h2>
      <li><i class="fa-solid fa-envelope"></i></li>
      <li><i class="fa-solid fa-phone"></i>(00) 0 0000-0000</li>
      <li><i class="fa-brands fa-whatsapp"></i>(00) 0 0000-0000</li>
    </address>
  </div>
  <section class="footer__copyright">
    Todos os direitos reservados
  </section>
</footer>
